{% extends "dashboard/helpers/base.html" %}
{% block body %}
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Usuário</label>
                            <input id="id_username" type="text" name="username" required="" class="form-control" placeholder="Usuario">
                        </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input id="id_password" type="password" name="password" required="" class="form-control" placeholder="Senha">
                        </div>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Entrar</button>
                                <div class="register-link m-t-15 text-center">
                                    <p>Não tem uma conta? <a href={% url 'accounts:register' %}"> Cadastre-se aqui</a></p>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}