{# base do html #}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block titulo %}
            <title>EscolaApp</title>
        {% endblock %}
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.min.css"%}">
        <link rel="stylesheet" href="{% static "vendors/themify-icons/css/themify-icons.css"%}">
        <link rel="stylesheet" href="{% static "vendors/flag-icon-css/css/flag-icon.min.css"%}">
        <link rel="stylesheet" href="{% static "vendors/selectFX/css/cs-skin-elastic.css"%}">
        <link rel="stylesheet" href="{% static "vendors/jqvmap/dist/jqvmap.min.css"%}">


        <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    {% block body %}
    <body>
            {% include 'dashboard/helpers/left_panel.html' %}
            <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <!-- você pode por icones aqui -->
                </div>

                <div class="col-sm-5">

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% block conteudo %}
            <h1>hello world</h1>
        {% endblock %}

    </div><!-- /#right-panel -->

    <!-- Right Panel -->
    </body>
    {% endblock %}

    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>


    <script src="{% static "vendors/chart.js/dist/Chart.bundle.min.js" %}"></script>
    <script src="{% static "assets/js/dashboard.js" %}"></script>
    <script src="{% static "assets/js/widgets.js" %}"></script>
    <script src="{% static "vendors/jqvmap/dist/jquery.vmap.min.js" %}"></script>
    <script src="{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
    <script src="{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

    {% block scripts %}
    {% endblock %}
</html>